/* Шапка сайта */

.header {
    width: 100%;
    margin-bottom: 30px;
}
.header_link {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo_img {
    width: 201px;
    height: 60px;
}
.logo_mobile {
    display: none;
}
.logo_title_mobile {
    display: none;
}
.nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-right: 30px;
    transition: all 0.3s;
}
.nav_link:nth-child(3) {
    margin-right: 0px;
}
.nav_link:hover {
    opacity: 0.7; 
    transition: all 0.3s;
}
.burger__btn {
    cursor: pointer;
    display: none;
}
.burger__menu_wrapper {
    display: none;
}
.burger__menu_links {
    padding-left: 0px;
}
.menu_link:nth-of-type(3) a {
    text-decoration: underline #68b738;
}
.nav_link:nth-of-type(3) {
    border-bottom: 2px solid #68b738;
}

/* Секция "Подбор программы" */

.section_form {
    width: 100%;
    margin-bottom: 50px;
}
.form_container {
    max-width: 1440px;
    margin: 0 auto;
}
.form_main_subtitle_wrap {
    margin: 0 auto;
}
.form_main_title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;   
}
.form_main_subtitle {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
.personal_data {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic_data {
    width: 680px;
    margin-right: 30px;
}
.data_title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
    margin-right: 13px;
}
.basic_data_name {
    display: flex;
    align-items: center;
}
.basic_data_weight {
    display: flex;
    align-items: center;
}
.basic_data_age {
    display: flex;
    align-items: center;
}
.js_input {
    font-weight: 400;
    color: #444;
    outline: none;
    border: 2px solid #E7E7E7;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 18px;
}
.js_input:focus {
    border: 1px solid #000;
}
.name_input {   
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.weight_input {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.age_input {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.choosing_actions_wrap {
    width: 630px;
    height: 200px;
    display: flex;
    align-items: center; 
}
.choosing_actions_wrap_line {
    width: 100%;
    height: 100%;
    border: 1px solid #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choosing_actions {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.choise_wrap {
    display: flex;
    margin-bottom: 15px;
}   
.choise_wrap:nth-child(3) {
    margin-bottom: 0px;
}
.choise {
    margin-right: 5px;
}
.choise_title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
    margin-left: 10px;
}
.choise {
    display: none;
}
.fake {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.fake::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 18%;
    display: block;
    width: 25px;
    height: 25px;
    background-color:#68B738;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
.choise:checked + .fake::before {
    opacity: 1;
}
.choise_title {
}

/* Контактные данные(влдельца кота) */

.contact__title_wrap {
    display: flex;
    align-items: center;
}
.title_wrap {
    min-width: 533px;
}
.title_line_left {
    display: none;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    margin-right: 20px;
    transform: translateY(4px);
}
.contact_title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}
.title_line {
    width: 100%;
    height: 2px;
    background-color: #68B738;
    transform: translateY(6px);
}
.contact_form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact_email {
    display: flex;
    align-items: center;
    width: 675px;
    position: relative;
    margin-right: 30px;
}
.contact_email_wrap {
    min-width: 83px;
}
.contact_subtitle {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
    margin-right: 20px;
}
.input_contact {
    font-family: 'Oswald';
    height: 40px;
    width: 84%;
}
.contact_phone {
    font-family: 'Oswald';
    display: flex;
    align-items: center;
    width: 675px;
    position: relative;
}
.contact_img {
    position: absolute;
    right: 18px;
}

/* Комментарий */

.title_line_left_comment {
    display: none;
    width: 30px;
    height: 2px;
    background-color: #68B738;
    margin-right: 20px;
    transform: translateY(4px);
}
.comment_title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-right: 20px;
}
.title_line_comment {
    width: 100%;
    height: 2px;
    background-color: #68B738;
    transform: translateY(4px);
}
.textarea {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}
.input_comment {
    font-family: 'Oswald';
    line-height: 30px;
    color: #444444;
}

/* Дополнительно */

.checkbox_additionally {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.additionally_title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-right: 20px;
}
.title_line_additionally {
    width: 100%;
    height: 2px;
    background-color: #68B738;
    transform: translateY(7px);
}
.choise_title_checkbox {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    margin-left: 10px;
}
.choise_checkbox {
    
}
.choice {
    display: none;
}
.fake_checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    position: relative;
    cursor: pointer;
    top: 10px;
}
.fake_checkbox::before {
    content: "";
    position: absolute;
    top: 33%;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/checked_checkbox_icon.svg) no-repeat;
    opacity: 0;
    transform: translateX(0%);
    transition: all .3s;
}
.choice:checked + .fake_checkbox::before {
    transform: translateX(50%);
    opacity: 1;
}
.choise_title_checkbox {
}

/* Отпрвака формы */

.data_submit {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.btn {
    width: 568px;
    height: 52px;
    border: none;
    background-color: #68B738;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 80px;
    transition: all .3s;
}
.btn:hover {
    transform: scale(1.04);
    transition: all .3s;
}
.btn:active {
    transform: scale(0.95);
    transition: all .3s;
    color: #333;
}
.type_text {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

/* Map */

.section_map {
    width: 100%;
}
.maps {
    max-width: 1440px;
    margin: 0 auto;
}
.map_address {
    width: 450px;
    height: 170px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    margin-left: 60px;
    margin-top: 126px;
}
.address_padding {
    padding: 37px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address_title {
    width: 160px;
}
.title_address {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #111111;
}
.exact_address {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.address_city {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

/* Подвал сайта */

.section_footer {
    width: 100%;
}
.footer {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_link {
    display: flex;
    align-items: center;
}
.link_network {
    margin-right: 20px;
}
.link_network:nth-child(3) {
    margin-right: 0px;
}

/* Ошибки при валидации */ 

.just-validate-error-label {
    font-family: 'Arial';
}

/* Модальное окно при отправке формы */

.succes__modal_wrapper {
    width: 700px;
    height: 300px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2001;
    transform: translateX(-50%);
    transition: transform 0.3s;
    background-color: #fff;
}
.succes__modal_wrapper.active {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
}
.succes__modal_body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.modal__close_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.modal__close_button span:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transform: translateY(3px) rotate(45deg);
    background-color: #000;
    transition: background-color 0.3s;
}
.modal__close_button span:nth-of-type(2) {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transform: rotate(-45deg);
    background-color: #000;
    transition: background-color 0.3s;
}
.modal__close_button:hover span:nth-of-type(1) {
    background-color: rgb(92, 92, 92);
    transition: background-color 0.3s;
}
.modal__close_button:hover span:nth-of-type(2) {
    background-color: rgb(92, 92, 92);
    transition: background-color 0.3s;
}
.modal__title {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000;
    text-align: center;
}
.modal__overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    transition: all 0.3s;
}
.modal__overlay.active {
    visibility: visible;
    opacity: 1;
}


/* Медиа запросы(изменение экрана) */

@media (max-width: 1490px) {
    .header_link {
        max-width: 90%;
    }
    .form_container {
        max-width: 90%;
    }
    .footer {
        max-width: 90%;
    }
    .address_padding {
        max-width: 90%;
    }
}
@media (max-width: 1440px) {
    .section_footer {
        background-color: #F2F2F2;
    }
}
@media (max-width: 1270px) {
    .footer {
        max-width: 90%;
    }
    .personal_data {
        
    }
    .map_address {
        width: 100%;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #F2F2F2;
    }
    .section_form {
        width: 100%;
        margin-bottom: 20px;
    }
    .section_map {
        margin-top: 50px;
    }
    .address_padding {
        padding: 0px;
        margin: 0 auto;
        display: flex;
        padding-top: 37px;
    }
    .title_line_left {
        display: none;
    }
    .title_line_left_comment {
        display: none;
    }
    .exact_address {
        text-align: right;
    }
}
@media (max-width: 1100px) {
    .contact_form {
        
    }
    .contact_email {
        max-width: 1045px;
        margin-right: 30px;
    }
    .contact_phone {
        max-width: 1024px;
    }
    .input_contact {
       
    }
}
@media(max-width: 1024px) {
    .basic_data {
        width: 569px;
        min-width: 300px;
    }
    .choosing_actions_wrap {
        width: 420px;
    }
}
@media (max-width: 850px) {
    .choosing_actions {
        padding-left: 9px;
    }
} 
@media (max-width: 815px) {
    .nav {
        display: none;
    }
    .nav_link {
        color: black;
        display: block;
    }
    .burger__btn {
        display: block;
        width: 30px;
        height: 21px;
        z-index: 3;
    }
    .burger__btn span:nth-of-type(1) {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 2px;
        transition: all 0.3s;
    }
    .burger__btn span:nth-of-type(2) {
        display: block;
        width: 100%;
        height: 2px;
        transform: translateY(6px);
        background-color: #000;
        border-radius: 2px;
        transition: all 0.3s;
    }
    .burger__btn span:nth-of-type(3) {
        display: block;
        width: 100%;
        height: 2px;
        transform: translateY(12px);
        background-color: #000;
        border-radius: 2px;
        transition: all 0.3s;
    }
    .burger__btn.active span:nth-of-type(1) {
        transform: translateY(11px) rotate(45deg);
        transition: all 0.3s;
    }
    .burger__btn.active span:nth-of-type(2) {
        display: none;
    }
    .burger__btn.active span:nth-of-type(3) {
        transform: translateY(8px) rotate(-45deg);
        transition: all 0.3s;
    }
    .menu_link {
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .menu_link:nth-of-type(3) {
        border-bottom: none;
    }
    .menu_link a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 20px;
        line-height: 56px;
        color: #000;
    }
    .burger__menu_wrapper.active {
        display: block;
    }
    .border_line {
        margin-top: 20px;
        border-bottom: 1px solid #D9D9D9;
    }
    .burger__menu_wrapper.active + .border_line {
        border-bottom: none;
    }
    .burger__menu_wrapper.active + .border_line {
        margin-top: 0px;
    }
    .burger__menu_wrapper.active .menu_link:nth-of-type(1) {
        border-top: 1px solid #D9D9D9;
    }
    .burger__menu_wrapper.active .menu_link:nth-of-type(3) {
        border-bottom: 1px solid #D9D9D9;
    }
}
@media (max-width: 850px) {
    .personal_data {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .choosing_actions_wrap {
        width: 100%;
        margin-top: 25px;
    }
    .basic_data {
        width: 100%;
        margin-right: 0px;
    }
    .name_input {
        width: 100%;
    }
    .weight_input {
        width: 100%;
    }
    .age_input {
        width: 100%;
    }
    .choosing_actions {
        width: 95%;
        margin: 0 auto;
        padding-left: 0px;
    }
}
@media (max-width: 768px) {
    .personal_data {
        max-width: 90%;
        margin: 0 auto;
    }
    .contact_form {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
    }
    .basic_data {
        max-width: 100%;
    }
    .choosing_actions_wrap {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 25px;
    }
    .form_main_subtitle_mobile {
        max-width: 90%;
        margin: 0 auto;
    }
    .contact_email {
        width: 100%;
    }
    .contact_phone {
        width: 100%;
    }
    .textarea {
        max-width: 90%;
        margin: 0 auto;
    }
    .checkbox_additionally {
        max-width: 90%;
        margin: 0 auto;
    }
    .data_submit {
        max-width: 90%;
        margin: 0 auto;
    }
    .contact__title_wrap {
        max-width: 90%;
        margin: 0 auto;
    }
    .choise_checkbox {
        margin-right: 20px;
    }
    .choise_checkbox:nth-of-type(4) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .address_padding {
        max-width: 90%;
        padding-top: 40px;
    }
}
@media (max-width: 760px) {
    .additionally_title {
        margin-bottom: 0px;
    }
    .choise_checkbox {
        margin-right: 20px;
        margin-top: 20px;
    }
    .title_line_additionally {
        transform: translateY(24px);
    }
}
@media (max-width: 740px) {
    .succes__modal_wrapper {
        width: 550px;
    }
    .modal__title {
        font-size: 26px;
        line-height: 38px;
    }
} 
@media(max-width: 655px) {
    .choise_checkbox {
        max-width: 220px;
        width: 100%;
    }
    .title_wrap {
        min-width: 295px;
    }
}
@media(max-width: 600px) {
    .basic_data {
        max-width: 100%;
    }
}
@media (max-width: 580px) {
    .succes__modal_wrapper {
        width: 420px;
        height: 260px;
    }
    .modal__title {
        font-size: 23px;
        line-height: 38px;
    }
} 
@media (max-width: 570px) {
    .title_address {
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    .exact_address {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .address_city {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .section_form {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .logo {
        display: none;
    }
    .logo_mobile {
        display: block;
    }
    .logo_title_mobile {
        display: block;
    }
    .footer {
        flex-direction: column;
    }
    .footer_logo {
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .footer_link {
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }
    .form_main_title {
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
    }
    .form_main_subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .data_title {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    .data_title_choice {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    .contact_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
    }
    .contact_subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    .comment_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
    }
    .additionally_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
    }
    .title_line_additionally {
        transform: translateY(16px);
    }
    .data_submit {
        max-width: 100%;
        margin-top: 15px;
    }
    .btn {
        max-width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        max-width: 100%;
        margin-right: 0px;
    }
    .type_text {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .data_submit {
        flex-direction: column;
    }
    .address_padding {
        padding-top: 34px;
    }
    .map_address {
        height: 150px;
    }
    .choise_title {
        font-size: 16px;
        line-height: 32px;
    }
    .fake::before {
        width: 20px;
        height: 20px;
        top: 17%;
        left: 17%;
    }
    .fake {
        width: 30px;
        height: 30px;
    }
    .choosing_actions {
        height: 126px;
    }
    .choise_title_checkbox {
        font-size: 16px;
    }
    .js_input {
        font-size: 14px;
    }
    .form_main_subtitle_mobile {
        max-width: 100%;
    }
    .personal_data {
        max-width: 100%;
    }
    .choosing_actions_wrap {    
        height: 160px;
    }
    .name_input {
        height: 34px;
    }
    .weight_input {
        height: 34px;
    }
    .age_input {
        height: 34px;
    }
    .input_contact {
        height: 34px;
    }
    .title_line_left {
        display: none;
    }
    .contact__title_wrap {
        max-width: 100%;
        margin: 0 auto;
    }
    .title_line_left_comment {
        display: none;
    }
    .contact_form {
        max-width: 100%;
    }
    .textarea {
        max-width: 100%;
    }
    .checkbox_additionally {
        max-width: 100%;
    }
    .footer {
        max-width: 95%;
        padding-top: 40px;
    }
    .footer_logo img {
        padding-bottom: 32px;
    }
    .footer_link a {
        padding-top: 17px;
        padding-bottom: 32px;
    }
    .footer_logo_html {
        margin-top: 10px;
    }
    .title_wrap {
        min-width: 205px;
    }
}
@media (max-width: 480px) {
}
@media (max-width: 450px) {
    .succes__modal_wrapper {
        width: 320px;
        height: 260px;
    }
    .modal__title {
        font-size: 20px;
        line-height: 34px;
    }
}
@media (max-width: 430px) {
    .address_title {
        min-width: 130px;
    }
}
@media (max-width: 423px) {
    .address_city {
        text-align: left;
        margin-top: 0px;
    }
    .exact_address {
        margin-bottom: 0px;
        text-align: left;
    }
}
@media (max-width: 405px) {
    .title_address {
        margin-right: 15px;
    }
    .checkbox_additionally {
        flex-direction: column;
    }
}
@media (max-width: 390px) {
    .address {
        width: 50%;
    }
    .logo_img {
        width: 85%;
    }
    .address_padding {
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .map_address {
        height: 127px;
    }
}

.burger__menu_wrapper {
}
.burger__menu {
}
.burger__menu_links {
}
.menu_link {
}